.wrapper {
  width: 100%;
  background: #610094;
  min-height: 100vh;
}

.poll_wrapper {
  width: 60%;
  margin: 0 auto;
  background: white;
  border-radius: 20px;
  box-shadow: 0px 1.5px 14px rgba(0, 0, 0, 0.132),
    0px 4.1px 38.7px rgba(0, 0, 0, 0.19), 0px 9.9px 93.2px rgba(0, 0, 0, 0.248),
    0px 33px 309px rgba(0, 0, 0, 0.38);
}

.option {
  display: block;
  border: 1px solid black;
  margin: 10px 0;
  border-radius: 10px;
}

.option:focus-within {
  background: rgb(224, 215, 245);
}

.quest {
  padding: 15px;
  text-align: center;
}

.backButton,
.homeButton {
  width: 250px;
  outline: none;
  height: 30px;
  font-size: 18px;
  margin: 10px;
  text-align: left;
  border-radius: 10px;
  border: none;
  background: none;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.homeButton:hover {
  text-decoration: underline;
}

.backButton i,
.homeButton i {
  display: inline !important;
  font-size: 1.2em;
  margin: 0 5px;
}

.button_wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.questNumber {
  padding: 20px;
}

input[type='radio'] {
  display: inline;
  width: 0;
  height: 0;
  margin: 5px;
}

button[type='submit'] {
  display: block;
  width: 100%;
  outline: none;
  height: 40px;
  text-transform: uppercase;
  font-size: 20px;
  margin: 0 auto;
  border-radius: 10px;
  border: 1px solid black;
  background: lightgreen;
  cursor: pointer;
}

label {
  display: inline-block;
  font-size: 24px;
  width: 90%;
  cursor: pointer;
  text-align: center;
}

form {
  box-sizing: border-box;
  min-height: 35vh;
}
