@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #2c394b;
}

::-webkit-scrollbar-track {
  border-radius: 50px;
  background: #6f7986;
}

.App {
  width: 100%;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 70px;
  background: #150050;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  margin: 10px auto;
  padding: 15px;
  border-radius: 15px 15px 0 0;
}
.header_signin {
  z-index: 10;
  width: 100px;
  height: 30px;
  color: white;
  background: #8202eb;
  border: 1px solid #8202eb;
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.1rem;
}

.header_signin:hover {
  background: #b056fa;
  border: 1px solid #b056fa;
}

.footer {
  height: 50px;
  background: #150050;
  margin-top: 40px;
  width: 100%;
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 0 0 15px 15px;
}

.footer a {
  text-decoration: none;
  color: white;
}
.footer i {
  display: inline !important;
  font-size: 1.4em;
  margin: 0 5px;
}
.footer span {
  display: inline;
  font-size: 15px;
  margin: 0 5px;
}

@media (max-width: 800px) {
  .header {
    width: 100%;
    height: 70px;
    background: #150050;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 0.9rem;
    margin: 10px auto;
    padding: 10px;
    border-radius: 15px 15px 0 0;
  }
  .header_signin {
    z-index: 10;
    width: 100px;
    height: 35px;
    padding: 3px 0 0;
    color: white;
    background: #8202eb;
    border: 1px solid #8202eb;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.1rem;
    margin-left: 10px;
  }

  .header_signin:hover {
    background: #b056fa;
    border: 1px solid #b056fa;
  }

  .footer {
    height: 50px;
    background: #150050;
    margin-top: 40px;
    width: 100%;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 0 0 15px 15px;
  }

  .footer a {
    text-decoration: none;
    color: white;
  }
  .footer i {
    display: inline !important;
    font-size: 1.4em;
    margin: 0 5px;
  }
  .footer span {
    display: inline;
    font-size: 15px;
    margin: 0 5px;
  }
}
